#game-over{
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#game-over h2,
#game-over p{
    margin-bottom: 1rem;
}
#game-over p{
    color: #8435de;
}

#game-over img{
    margin: 2rem;
    height: 200px;
}

